# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/features/game/domain/click.freezed.dart
/lib/features/game/domain/click.g.dart
/lib/features/game/domain/number_copy_result.freezed.dart
/lib/features/game/domain/number_copy_result.g.dart
/lib/features/game/domain/number_input.freezed.dart
/lib/features/game/domain/number_input.g.dart
/lib/features/game/domain/realtime_table.freezed.dart
/lib/features/game/domain/realtime_table.g.dart
/lib/firebase_options.dart
/lib/features/survey/domain/survey.freezed.dart
/lib/features/survey/domain/survey.g.dart
/lib/features/schedule/domain/schedule_parameters.freezed.dart
/lib/features/schedule/domain/schedule_parameters.g.dart
/lib/features/user/domain/simple_user.freezed.dart
/lib/features/user/domain/simple_user.g.dart
